<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ROPv1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ROPv1.Properties.Settings.ropv1ConnectionString" connectionString="Data Source=LHCASPER;Initial Catalog=ropv1;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <ROPv1.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>13759</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BilgisayarAdi" serializeAs="String">
                <value/>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </ROPv1.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISiparis"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1118/Siparis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiparis" contract="sezerwcf.ISiparis" name="BasicHttpBinding_ISiparis"/>
        </client>
    </system.serviceModel>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
