<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ROPv1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ROPv1.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>13759</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BilgisayarAdi" serializeAs="String">
                <value />
            </setting>
            <setting name="FirmaAdi" serializeAs="String">
                <value />
            </setting>
            <setting name="FirmaAdresi" serializeAs="String">
                <value />
            </setting>
            <setting name="FirmaTel" serializeAs="String">
                <value />
            </setting>
        </ROPv1.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISiparis" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1118/Siparis.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISiparis" contract="sezerwcf.ISiparis"
                name="BasicHttpBinding_ISiparis" />
        </client>
    </system.serviceModel>
</configuration>