<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ROPv1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ROPv1.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>13759</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>0</value>
            </setting>
        </ROPv1.Properties.Settings>
    </userSettings>
</configuration>